body {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: $darkWhite;
}

.wrapper {
    min-height: 100vh;
    height: 100%;
}

.margin {
    &--center {
        margin-left: auto;
        margin-right: auto;
    }
}

.cursor {
    &--pointer {
        cursor: pointer;
    }
}
