.border {
    &--dim-white {
        border: 2px solid $dimWhite;
    }

    &--l-dim-white {
        border-left: 2px solid $dimWhite;
    }

    &--r-dim-white {
        border-right: 2px solid $dimWhite;
    }

    &--t-dim-white {
        border-top: 2px solid $dimWhite;
    }

    &--b-dim-white {
        border-bottom: 2px solid $dimWhite;
    }

    &--rad-5 {
        border-radius: 5px;
    }

    &--rad-3 {
        border-radius: 3px;
    }
}
