.color {
    &--dim-white {
        color: $dimWhite;
    }

    &--gray {
        color: $gray;
    }

    &--dark-gray {
        color: $darkGray;
    }

    &--nearly-black {
        color: $nearlyBlack;
    }

    &--dim-gray {
        color: $dimGray;
    }

    &--med-gray {
        color: $medGray;
    }

    &--gray-light {
        color: $grayLight;
    }

    &--blue {
        color: $blue;
    }

    &--light-gray {
        color: $lightGray;
    }
}
