.color {
    &--dim-white {
        color: $dimWhite;
    }

    &--gray {
        color: $gray;
    }

    &--dark-gray {
        color: $darkGray;
    }

    &--nearly-black {
        color: $nearlyBlack;
    }
}
