.fl {
    &--align-c {
        align-items: center;
    }

    &--just-b {
        justify-content: space-between;
    }

    &--just-c {
        justify-content: center;
    }

    &--col-nowr {
        flex-flow: column nowrap;
    }

    &--row-wr {
        flex-flow: row wrap;
    }

    &--just-end {
        justify-content: flex-end;
    }
}
