.hover {
    transition: color .25s ease-in-out;

    &--clr-blur {
        &:hover{
            color: $blue;
        }
    }

    &--bg-blur-05 {
        &:hover{
            background: #f7f7f7;
        }
    }
}
