.ls {
    &--08em {
        letter-spacing: .08em;
    }

    &--015em {
        letter-spacing: .15em;
    }

    &--01em {
        letter-spacing: .1em;
    }

    &--005em {
        letter-spacing: .05em;
    }
}
