.text {
    &--large {
        font-size: 22px;
    }

    &--medium {
        font-size: 16px;
    }

    &--small {
        font-size: 14px;
    }

    &--pre-small {
        font-size: 13px;
    }

    &--low-small {
        font-size: 12px;
    }

    &--extra-small {
        font-size: 10px;
    }
}
