.title {
    &--medium {
        font-size: 30px;

        @media screen and (max-width: 1024px) {
            font-size: 28px;
        }

        @media screen and (max-width: 720px) {
            font-size: 26px;
        }

        @media screen and (max-width: 579px) {
            font-size: 24px;
        }
    }

    &--small {
        font-size: 14px;
        line-height: 20px;

        @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 18px;
        }

        // @media screen and (max-width: 579px) {
        //
        // }
    }
}
