.breadcrumbs {
    padding-right: 40px;

    @media screen and (max-width: 1024px) {
        padding-right: 30px;
    }

    @media screen and (max-width: 720px) {
        padding-right: 15px;
        margin-bottom: 10px;
    }

    &__link {
        padding-right: 27px;
        margin-right: 18px;

        @media screen and (max-width: 1024px) {
            padding-right: 20px;
            margin-right: 12px;
            line-height: 26px;
        }

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            height: 5px;
            width: 8px;
            transform: translateY(-50%) rotate(-90deg);
            background: url("../img/icons/arrow.png") no-repeat;
            background-size: cover;
        }
    }
}
