.btn {
    &--search {
        width: 48px;

        @media screen and (max-width: 1024px) {
            width: 35px;
        }
    }

    &--menu {
        display: none;

        @media screen and (max-width: 1024px) {
            display: block;
            padding: 18px 30px;
            border-right: 2px solid $dimWhite;
        }

        @media screen and (max-width: 720px) {
            border-right: none;
        }

        @media screen and (max-width: 579px) {
            text-align: center;
            padding: 15px;
        }
    }

    &--cat {
        padding: 22px 42px 22px 30px;
        height: 100%;

        @media screen and (max-width: 1151px) {
            padding: 22px 28px;
        }

        @media screen and (max-width: 1024px) {
            padding: 18px;
        }

        @media screen and (max-width: 579px) {
            text-align: center;
            padding: 15px;
        }
    }

    &--info {
        padding: 22px 27px;
        width: 100%;

        @media screen and (max-width: 1151px) {
            padding: 22px 20px;
        }

        @media screen and (max-width: 1024px) {
            padding: 18px 20px;
        }

        @media screen and (max-width: 579px) {
            text-align: center;
            padding: 15px;
        }
    }

    &--filters {
        display: none;

        @media screen and (max-width: 720px) {
            display: block;
            text-align: center;
            padding: 18px 40px;
        }

        @media screen and (max-width: 579px) {
            width: 50%;
        }
    }

    &__text {
        &--menu {
            padding-left: 30px;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                height: 12px;
                width: 18px;
                transform: translateY(-50%);
                background: url("../img/icons/burger.png") no-repeat;
                background-size: cover;

                @media screen and (max-width: 1024px) {
                    height: 10px;
                    width: 16px;
                }
            }
        }

        &--cat {
            padding-left: 40px;

            @media screen and (max-width: 1151px) {
                padding-left: 30px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                height: 12px;
                width: 18px;
                transform: translateY(-50%);
                background: url("../img/icons/burger.png") no-repeat;
                background-size: cover;

                @media screen and (max-width: 1024px) {
                    height: 10px;
                    width: 16px;
                }
            }
        }

        &--info {
            padding-right: 20px;

            @media screen and (max-width: 1024px) {
                padding-right: 17px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                height: 6px;
                width: 10px;
                transform: translateY(-50%);
                background: url("../img/icons/arrow.png") no-repeat;
                background-size: cover;

                @media screen and (max-width: 1024px) {
                    height: 5px;
                    width: 8px;
                }
            }
        }
    }

    &--form {
        padding: 10px 20px;
        border-radius: 3px;
    }

    &--close {
        top: 20px;
        right: 20px;
        width: 15px;
        height: 15px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 15px;
            height: 2px;
            background: $gray;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}
