.container {
    width: 1110px;

    @media screen and (max-width: 1151px) {
        width: 1000px;
    }

    @media screen and (max-width: 1024px) {
        width: 708px;
    }

    @media screen and (max-width: 767px) {
        width: 690px;
    }

    @media screen and (max-width: 720px) {
        width: 550px;
    }

    @media screen and (max-width: 579px) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
