.footer {
    &__nav {
        padding-top: 34px;
        padding-bottom: 38px;

        @media screen and (max-width: 1024px) {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        @media screen and (max-width: 720px) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @media screen and (max-width: 579px) {
            padding-top: 10px;
        }
    }

    &__info {
        padding-top: 41px;
        padding-bottom: 50px;

        @media screen and (max-width: 1024px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @media screen and (max-width: 720px) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}
