.form {
    &__cat {
        padding: 16px 25px;

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__link {
        padding-right: 23px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 8px;
            height: 5px;
            transform: translateY(-50%);
            background: url("../img/icons/arrow.png") no-repeat;
            background-size: cover;
        }
    }
}
