.info {
    width: 100%;
    padding-right: 83px;
    padding-left: 71px;

    @media screen and (max-width: 1151px) {
        padding-right: 65px;
        padding-left: 65px;
    }

    @media screen and (max-width: 1024px) {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (max-width: 720px) {
        padding-left: 0;
        padding-right: 0;
    }
}
