.input {
    &--search {
        width: 273px;
        border: none;
        padding: 10px 16px;
        @include placeholder(14px, $gray);

        @media screen and (max-width: 1151px) {
            width: 225px;
        }

        @media screen and (max-width: 767px) {
            padding: 10px 14px;
            @include placeholder(12px, $gray);
        }

        @media screen and (max-width: 720px) {
            padding: 8px 12px;
        }
    }

    &--modal {
        width: 100%;
        border-radius: 3px;
        padding: 10px 16px;
        @include placeholder(14px, $gray);
    }
}
