.menu {
    &--nav {
        padding-right: 30px;
        padding-left: 31px;

        @media screen and (max-width: 1024px) {
            padding-right: 0;
            padding-left: 0;
        }

        @media screen and (max-width: 579px) {
            border-right: 2px solid $dimWhite;
            cursor: pointer;
        }
    }

    &--footer {
        padding-right: 30px;
        padding-left: 12px;

        @media screen and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 20px;
        }

        @media screen and (max-width: 579px) {
            padding-right: 0;
            margin-bottom: 15px;
            margin-top: 10px;
        }
    }

    &--cat {
        @media screen and (max-width: 579px) {
            width: 50%;
        }
    }

    &--burger {
        @media screen and (max-width: 720px) {
            width: 100%;
        }
    }

    &--info {
        @media screen and (max-width: 579px) {
            width: 30%;
        }

        &-lang {
            @media screen and (max-width: 579px) {
                width: 40%;
            }
        }
    }

    &__link {
        padding: 5px;

        &--nav {
            margin-right: 24px;

            @media screen and (max-width: 1024px) {
                display: none;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &--footer {
            margin-right: 50px;

            @media screen and (max-width: 1024px) {
                margin-right: 35px;
            }

            @media screen and (max-width: 720px) {
                margin-right: 10px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &--sub {
            padding-right: 20px;
            margin-right: 34px;

            @media screen and (max-width: 1024px) {
                margin-right: 25px;
            }

            @media screen and (max-width: 720px) {
                margin-right: 15px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 10px;
                height: 6px;
                transform: translateY(-50%);
                background: url("../img/icons/arrow.png") no-repeat;
                background-size: cover;
            }
        }

        &--select {
            padding: 15px;

            @media screen and (max-width: 579px) {
                padding: 10px;
            }
        }
    }

    &__list {
        background: $white;
        z-index: 2;
        left: 0;
        display: none;

        &--cat {
            margin-left: -2px;
            margin-right: -2px;
            width: calc(100% + 4px);
        }

        &--burger {
            width: 0;
            overflow: hidden;
            border: none;

            @media screen and (max-width: 1024px) {
                overflow: visible;
                border: 2px solid $dimWhite;
                top: 54px;
                margin-left: -2px;
                width: calc(100% + 2px);
            }

            @media screen and (max-width: 720px) {
                margin-right: -2px;
                width: calc(100% + 4px);
            }

            @media screen and (max-width: 579px) {
                top: 48px;
            }
        }

        &--info {
            top: 62px;
            margin-left: -2px;
            margin-right: -2px;
            width: calc(100% + 4px);

            @media screen and (max-width: 1024px) {
                top: 54px;
            }

            @media screen and (max-width: 579px) {
                top: 48px;
            }
        }

        &--footer {
            top: 35px;
        }

        &--fix-w {
            min-width: 200px;

            @media screen and (max-width: 1024px) {
                min-width: 150px;
            }
        }
    }

    &__li {
        width: 100%;

        &:last-child {
            border: none;
        }
    }

    &__text {
        &--sub {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 10px;
                height: 6px;
                transform: translateY(-50%) rotate(-90deg);
                background: url("../img/icons/arrow.png") no-repeat;
                background-size: cover;
            }
        }
    }
}
