.official {
    padding-left: 80px;
    padding-right: 83px;
    width: 100%;

    @media screen and (max-width: 1151px) {
        padding-right: 65px;
        padding-left: 75px;
    }

    @media screen and (max-width: 1024px) {
        padding-right: 15px;
        padding-left: 15px;
    }

    @media screen and (max-width: 720px) {
        padding-right: 0;
        padding-left: 0;
    }

    @media screen and (max-width: 579px) {
        flex-flow: column nowrap;
    }

    &__pay {
        @media screen and (max-width: 1024px) {
            flex-flow: column nowrap;
        }

        @media screen and (max-width: 579px) {
            order: 2;
            margin-bottom: 5px;
        }
    }

    &__title {
        &--pay {
            margin-right: 29px;

            @media screen and (max-width: 1024px) {
                margin-right: 0;
                margin-bottom: 5px;
            }
        }
    }

    &__private-links {
        @media screen and (max-width: 579px) {
            order: 1;
            margin-bottom: 10px;
            width: 100%;
            justify-content: center;
        }
    }

    &__link {
        padding-left: 30px;

        @media screen and (max-width: 1024px) {
            padding-left: 40px;
        }

        @media screen and (max-width: 720px) {
            padding-left: 20px;
        }

        @media screen and (max-width: 579px) {
            min-width: 150px;
            text-align: center;
            padding-left: 0;
        }
    }
}
