.pagination {
    padding: 24px 34px 19px 43px;

    @media screen and (max-width: 1024px) {
        padding: 18px 25px;
    }

    &__link {
        &--arrow {
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                width: 14px;
                height: 14px;

                @media screen and (max-width: 1024px) {
                    width: 12px;
                    height: 12px;
                }

                background: url("../img/icons/arrow-side.png") no-repeat;
                background-size: cover;
            }

            &-prev {
                padding-left: 33px;

                @media screen and (max-width: 1024px) {
                    padding-left: 25px;
                }

                &:before {
                    left: 0;
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            &-next {
                padding-right: 33px;

                @media screen and (max-width: 1024px) {
                    padding-right: 25px;
                }

                &:before {
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }

    &__pages {
        padding-right: 29px;

        @media screen and (max-width: 1024px) {
            padding-right: 0;
        }
    }
}
