.personal {
    margin-left: 30px;
    justify-content: flex-end;

    @media screen and (max-width: 1024px) {
        margin-left: 20px;
    }

    @media screen and (max-width: 720px) {
        order: 2;
    }

    @media screen and (max-width: 579px) {
        order: 3;
        margin-left: 0;
        justify-content: center;
    }

    &__item {
        margin-right: 40px;
        padding-left: 38px;
        line-height: 20px;

        @media screen and (max-width: 1151px) {
            margin-right: 30px;
            padding-left: 33px;
        }

        @media screen and (max-width: 767px) {
            margin-right: 22px;
            padding-left: 28px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
        }

        &--busket {
            margin-right: 31px;
            padding-left: 42px;

            @media screen and (max-width: 1151px) {
                margin-right: 28px;
                padding-left: 35px;
            }

            @media screen and (max-width: 767px) {
                margin-right: 22px;
                padding-left: 28px;
            }

            &:before {
                background: url("../img/icons/shop-cart.png") no-repeat;
                background-size: cover;
            }
        }

        &--wish-list {
            &:before {
                background: url("../img/icons/like.png") no-repeat;
                background-size: cover;
            }
        }

        &--sign-in {
            &:before {
                background: url("../img/icons/user.png") no-repeat;
                background-size: cover;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__count {
        &--busket {
            margin-right: 3px;
        }
    }
}
