.share {
    &__title {
        margin-right: 31px;

        @media screen and (max-width: 1024px) {
            margin-right: 20px;
        }
    }

    &__item {
        margin-right: 26px;

        @media screen and (max-width: 1024px) {
            margin-right: 20px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__count {
        padding: 3px 7px;
        margin-left: 19px;

        @media screen and (max-width: 1024px) {
            padding: 2px 5px;
            margin-left: 13px;
        }

        &--fb {
            margin-left: 24px;

            @media screen and (max-width: 1024px) {
                margin-left: 18px;
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 0;
            height: 0;
            display: block;
            transform: translateY(-50%);
        }

        &:before {
            left: -10px;
            z-index: 1;
            border: 6px solid transparent;
            border-right: 4px solid $white;
        }

        &:after {
            left: -15px;
            z-index: 0;
            border: 8px solid transparent;
            border-right: 6px solid $dimWhite;
        }
    }
}
