.view {
    @media screen and (max-width: 579px) {
        width: 50%;
    }

    &__btn {
        height: 100%;
        width: 58px;

        @media screen and (max-width: 1024px) {
            width: 52px;
        }

        @media screen and (max-width: 579px) {
            width: 50%;
        }

        &--list {
            border-right: 2px solid $dimWhite;
        }
    }

    &__img {
        &--grid {
            height: 13px;
            width: 20px;
            background: url("../img/icons/grid.png") no-repeat;
            background-size: cover;

            @media screen and (max-width: 1024px) {
                width: 18px;
                height: 12px;
            }

            &-active {
                background: url("../img/icons/grid-active.png") no-repeat;
                background-size: cover;
            }
        }

        &--list {
            height: 14px;
            width: 17px;
            background: url("../img/icons/list.png") no-repeat;
            background-size: cover;

            @media screen and (max-width: 1024px) {
                height: 13px;
                width: 15px;
            }

            &-active {
                background: url("../img/icons/list-active.png") no-repeat;
                background-size: cover;
            }
        }
    }
}
