.wrap {
    &--header {
        padding-right: 30px;
        padding-left: 15px;
    }

    &--nav {
        height: 61px;
    }

    &--img {
        &-item {
            margin-bottom: 26px;
        }
    }
}
