.wrap {
    &--header {
        padding-right: 39px;
        padding-left: 15px;

        @media screen and (max-width: 1151px) {
            padding-right: 15px;
        }

        @media screen and (max-width: 1024px) {
            padding-right: 0;
            padding-left: 0;
        }

        @media screen and (max-width: 720px) {
            flex-flow: row wrap;
            justify-content: center;
            padding-left: 30px;
            padding-right: 30px;
        }

        @media screen and (max-width: 579px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--page-info {
        padding-left: 14px;
        padding-right: 15px;

        @media screen and (max-width: 720px) {
            flex-flow: row wrap;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &--img {
        &-item {
            margin-bottom: 26px;
            height: 160px;

            @media screen and (max-width: 1024px) {
                height: 145px;
                margin-bottom: 20px;
            }

            @media screen and (max-width: 720px) {
                height: 130px;
                margin-bottom: 15px;
            }
        }
    }

    &--filters {
        @media screen and (max-width: 579px) {
            width: 100%;
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
