.wrap {
    &--header {
        padding-right: 30px;
        padding-left: 15px;
    }

    &--nav {
        height: 61px;
    }

    &--img {
        width: 20px;
        height: 20px;

        &-busket {
            &:before {
                content: '';
                position: absolute;
                top: -9px;
                right: -7px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $blue;
            }
        }
    }
}
