header.header
   section.container.margin--center
      section.wrap.wrap--header.display--fl
         a.logo.logo--nav.font.font--black.font--upper.text--large.color--nearly-black.ls--08em(href="/") Quantum
         form.form.form--search.display--fl.border--dim-white
            input.input.input--search(type="search" placeholder="Search goods")
            section.form__cat.border--l-dim-white.border--r-dim-white
               a.form__link.font.font--black.text--large.ls--015em.color--gray.text--extra-small.border--l-dim-white.border--r-dim-white.font--upper.position--r(href="#") Category
               ul.form__list.font.font--black.text--large.color--gray.text--extra-small.display--none
                 
                  - for (let i = 0; i < 5; i++)
                     li.form__li Category #{i+1}
                     
            button.form__btn.btn.btn--search.display--fl.fl--just-c
               article.icon.icon--magni.position--r.display--fl
                  img.icon__img(src="img/icons/search.png" alt="search icon")
         section.personal.display--fl.fl--align-c.fl--grow-1
            section.personal__item.personal__item--busket.font.font--med.color--dark-gray.text--small.cursor--pointer.position--r
                  span.personal__count.personal__count--busket 2
                  span.personal__span Items
            span.personal__item.personal__item--wish-list.font.font--med.color--dark-gray.text--small.cursor--pointer.position--r Wish List
            span.personal__item.personal__item--sign-in.font.font--med.color--dark-gray.text--small.cursor--pointer.position--r Sing in
