article.background.background--modal.position--f.display--none
   
article.modal.modal--sign-in.position--a.background--block
   small.btn-btn--close.position--a.cursor--pointer
   h2.title--medium.align--c.color--med-gray.font.font--reg.indent--modal-title Sign in
   form.form.form--sign-in.display--fl.fl--col-nowr.fl--just-c
      section.form__wrap.form__wrap--name
         label.label.label--sign-in.font.font--med.text--medium.color--dark-gray.display--fl.fl--col-nowr.cursor--pointer(for="modName") Login
         input.input.input--modal.border--dim-white(type="text" placeholder="Enter name" id="modName" name="name")
      section.form__wrap.form__wrap--pass
         label.label.label--sign-in.font.font--med.text--medium.color--dark-gray.display--fl.fl--col-nowr.cursor--pointer(for="modPass") Password
         input.input.input--modal.border--dim-white(type="password" placeholder="Enter password" id="modPass" name="password")
      button.btn.btn--form.font.font--med.text--medium.color--dark-gray.cursor--pointer.border--dim-white.margin--center.hover.hover--bg-blur-05.hover--clr-blur Sign in
