article.pagination.background--block.display--fl.fl--just-b.fl--align-c
   a.pagination__link.pagination__link--arrow.pagination__link--arrow-prev.position--r.font.font--black.font--upper.text--extra-small.color--gray.ls--015em Previous page
   section.pagination__pages
      a.pagination__link.pagination__link--num.font.font--med.ls--015em.text--small.color--med-gray 1
   a.pagination__link.pagination__link--arrow.pagination__link--arrow-next.position--r.font.font--black.font--upper.text--extra-small.color--gray.ls--015em Next page
