extends layout/layout

block title
   title Main
   
block content
   include includes/header.pug
   include includes/nav.pug
   
   main.main
      section.page-info.indent--page-info
         section.container.margin--center
            section.wrap.display--fl.fl--just-b.fl--align-c
               article.breadcrumbs.display--fl.fl--align-c
                  a.breadcrumbs__link.color--dim-gray.font.font--med.text--pre-small.position--r(href="/") Main
                  a.breadcrumbs__link.color--dim-gray.font.font--med.text--pre-small.position--r(href="#") Mobile phones
                  a.breadcrumbs__link.color--dim-gray.font.font--med.text--pre-small.position--r(href="#") Apple
                  span.breadcrumbs__page.color--med-gray.font.font--med.text--pre-small Apple iPhone 7, 128 GB
               article.share.display--fl.fl--align-c
                  span.share__title.color--gray-light.font.font--med.text--pre-small Share:
                  section.share__item.display--fl.fl--align-c
                     .wrap.wrap--img
                        img(src="../img/icons/facebook.png" alt="facebook icon")
                     span.share__count.share__count--fb.color--gray-light.font.font--med.text--pre-small.border--dim-white.position--r 45
                  section.share__item.display--fl.fl--align-c
                     .wrap.wrap--img
                        img(src="../img/icons/twitter.png" alt="twitter icon")
                     span.share__count.color--gray-light.font.font--med.text--pre-small.border--dim-white.position--r 12
                     
      h1.page-title.color--med-gray.font.font--reg.title--medium.position--r.align--center.indent--page-title Smartphones

      section.content
         section.container.margin--center
            section.wrap.wrap--content.display--fl
               aside.filters
               article.goods
                  header.goods__filters.display--fl.fl--just-b.indent--goods-filters.background--block
                     article.sort.display--fl.fl--align-c
                        a.sort__item.sort__item--active.sort__item--pop.font.text--pre-small.cursor--pointer.position--r(href="#") Popular products
                        a.sort__item.sort__item--low.font.text--pre-small.cursor--pointer.position--r(href="#") Low price
                        a.sort__item.font.text--pre-small.cursor--pointer.position--r(href="#") High price
                     article.view.display--fl.fl--align-c
                        a.view__btn.view__btn--grid.border--l-dim-white.display--fl.fl--align-c.fl--just-c(href="#")
                           span.view__img.view__img--grid.view__img--grid-active
                        a.view__btn.view__btn--list.border--l-dim-white.display--fl.fl--align-c.fl--just-c(href="#")
                           span.view__img.view__img--list
                              
                  main.goods__content.display--fl.fl--row-wr.fl--just-b
                     - for (let i = 0; i < 9; i++)
                        article.item.display--fl.fl--col-nowr.background--block
                           header.item__header.display--fl.fl--just-b.fl--align-c
                              span.sale.font.font--black.font--upper.text--extra-small.color--gray Sale 10%
                              section.item__info.display--fl.fl--just-b.fl--align-c
                                 article.wrap.wrap--img-list.cursor--pointer
                                    img(src="../img/icons/list-2.png" alt="list icon")
                                 article.wrap.wrap--img.cursor--pointer
                                    img(src="../img/icons/like.png" alt="like icon")
                           section.wrap.wrap--img-item.display--fl.fl--just-c
                              img(src=`../img/phone-${i+1}.jpg` alt=`phone ${i+1}`)
                           section.item__title
                              h3.title.title--small.color--med-gray.font.font--med.align--center Asus ZenFone Go ZB452KG <br> (black and white)
                           section.rating.display--fl.fl--align-c.fl--just-c.indent--rating
                              section.rating__stars.display--fl.fl--just-c
                                 article.wrap.wrap--img-star
                                    img(src="../img/icons/star-full.png" alt="star-full icon")
                                 article.wrap.wrap--img-star
                                    img(src="../img/icons/star-full.png" alt="star-full icon")
                                 article.wrap.wrap--img-star
                                    img(src="../img/icons/star-full.png" alt="star-full icon")
                                 article.wrap.wrap--img-star
                                    img(src="../img/icons/star-half.png" alt="star-half icon")
                                 article.wrap.wrap--img-star
                                    img(src="../img/icons/star-empty.png" alt="star-empty icon")
                              span.rating__count.font.font--med.text--low-small.color--gray.ls--005em 12
                           section.price.display--fl.fl--align-c.fl--just-c
                              span.price__count.font.font--black.text--medium.ls--005em &#36; 384.4
                              article.wrap.wrap--img.cursor--pointer
                                 img(src="../img/icons/shop-cart-full.png" alt="shop-cart-full")
                           
